.cv-position {
    background-image: linear-gradient(
        to bottom right, 
        var(--gradient-color-1),
        var(--gradient-color-2)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.cv-list {
    padding: 2rem 0;
}

.cv-header {
    font-size: 1.5em;
}

.cv-about {
    padding-bottom: 2rem;
    font-weight: 300;
}

.cv-card-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 1.75rem;
}

.cv-card-header h3 {
    margin: 0;
}

.cv-card-header-title {
    padding-right: 0.5rem;
    margin: 0;
}

.cv-card-header-title {
    font-weight: 400;
    margin: 0;
    color: var(--primary-text-color);
}

.cv-flat-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 1rem;
}

.cv-flat-header p {
    margin: 0;
    padding: 0;
}

.cv-flat-title {
    margin: 0;
    padding-right: 1rem;
}
