.posts-list {
    list-style: none;
}

.post-sub-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.post-sub-header ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.post-details p {
    font-weight: 300;
}

.tag {
    cursor: pointer;
    /* background-color: var(--secondary-accent-color); */
    background-image: linear-gradient(
        to bottom right, 
        var(--gradient-color-1),
        var(--gradient-color-4)
    );
    color: var(--primary-text-color);
    padding: 0.25rem 0.5rem;
    border-radius: 0.5rem;
    margin-right: 1rem;
    font-size: 1.4rem;
    transition: opacity .2s;
}

.tag:hover {
    color: var(--primary-text-color);
    opacity: 0.7;
}