.skill-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 1rem;
}

.skill-header p {
    margin: 0;
    padding: 0;
}

.skill-title {
    margin: 0;
    padding-right: 1rem;
}