.speaking-list {
    list-style: none;
}

.talk-sub-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.talk-sub-header ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.talk-details p {
    font-weight: 300;
}

.talk-sub-header li::after {
    content: "·";
    padding: 0 1rem;
}

.talk-sub-header li:last-child::after {
    content: none;
}

.talk-link {
    cursor: pointer;
    color: var(--secondary-accent-color);
    transition: opacity .2s;
    
}

.talk-link:hover {
    color: var(--secondary-accent-color);
    opacity: 0.7;
}

.slides {
    width: 100%;
    aspect-ratio: 16 / 9;
    border: none;
}